.cohort-button {
  background : #000;
  border-radius : 5px;
  color : #fff;
  text-align: center;
  display:inline-block;
  padding:5px 15px 5px 15px;
  margin: 5px 5px 5px 5px;
}

#create-btn {
  border : none;
  background : #313031;
  border-radius : 5px;
  color : #fff;
  text-align: center;
  display:inline-block;
  padding:5px 15px 5px 15px;
  margin: 5px 5px 5px 5px;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.error {
  color : red;
}

.selected {
  background: green;
}

#group-form {
  display : block;
}

.active {
  border : none;
  background :  #77ef77;
  border-radius : 5px;
  color : #fff;
  text-align: center;
  display:inline-block;
  padding: 5px 19px 5px 19px;
  margin: 5px 15px 5px 35px;
}

.inactive {
  border : none;
  background :  #f23e4a;
  border-radius : 5px;
  color : #fff;
  text-align: center;
  display:inline-block;
  padding: 5px 15px 5px 15px;
  margin: 5px 15px 5px 35px;
}
