li,div {
  font-size: 1em;
}

li {
  margin: 0.5em;
}

.img-container {
  width : 100%;
  background : #eee;
  padding-top: 1em;
  padding-bottom: 1em;
}

.desc-img {
  width : 80%;
  display: block;
  margin: auto;
}

.page-title {
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
}
